.field {
  display: inline;
  font-size: 2.5em;
  width: 1em;
  height: 1.5em;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-weight: 700;
  margin: 0.25rem;
  transition: all 0.15s;
}

.field:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

nav * {
  display: inline;
}

nav select {
  float: right;
  vertical-align: bottom;
}
